@using Groep9.NET.Models.Domein
@model Groep9.NET.ViewModels.ProductenViewModel

<h2>Blokkeringen</h2> 

<br />
<br >
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("Producten", Model.Producten)
    </div>
</div>






