body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.right {
    float: right;
}

.nav-rechts {
    color:#fff;
    font-size: 14px;
    margin-top:15px;
}
.nav-rechts a {
    color: #fdf367;
}

.nav-rechts a:hover {
    color: #ffee00;
    text-decoration: none;
}
.groen {
    background-color: #009c7c;
    color: #fff;
}
.zoeken {
    margin-top: 10px;
    width:100%;
    visibility: hidden;
}
@media (max-width: 768px) {
  .zoeken {
      /*margin: auto;
      max-width:100%;
      padding: 0 3% 0 3%;*/
      visibility: visible;
  }
  }
}