body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fcfcfc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.right {
    float: right;
}

.nav-rechts {
    color:#fff;
    font-size: 14px;
    height:50px;
    display: block;
    padding: 15px 0;
}
.nav-rechts a {
    color: #fdf367;
}

.nav-rechts a:hover {
    color: #ffee00;
    text-decoration: none;
}
.groen {
    background-color: #009c7c;
    color: #fff;
}

.groen:hover {
    background-color: rgba(0, 156, 124, 0.61);
}
.zoeken {
    margin-top: 10px;
    width:100%;
}

.product-small {
    margin-left:2%;
    margin-right:2%;
    width:96%;
    padding: 4px;
    background-color:#fff;
   /*display: inline-block;
        height: auto;*/
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow:hidden;
            max-height:200px;
}

.product-small:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


.foto {
    padding-left: 0;

}
.product-small >.caption {
    float: right;
}

.geavanceerd-zoeken {
    width:100%;
    border:none;
}
@media(max-width:500px) {
                          .product-small > .caption > h2 {
                              font-size:18px;
                          } 
                          .titel {
                              font-size:20px
                          }
                       }



@media(max-width:992px) {
                          .knoppen {
                              margin-top:10px;
                          }
                          .dropdownlijst {
                              margin-top: 5px;
                          }
                       }


.changethisone span{
    background-color: #FFF;
}

.changethisone input{
    border-right-style:none;
}