@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Productcatalogus</h1>
    @ViewBag.Message
    <p class="lead">
       Welkom !!
    </p>
    @Html.ActionLink("zoeken", "Index", "Zoeken", null, new { @class = "btn btn-primary btn-large" })
</div>
