@model IEnumerable<Groep9.NET.Product>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">

    <h1>Didactische leermiddelen</h1>
    <p class="lead">Welkom bij de uitleendienst voor didactische leermiddelen</p>
    @Html.ActionLink("Naar Catalogus", "Index", "Catalogus", null, new { @class = "btn btn-primary btn-large" })

</div>