@model IEnumerable<Groep9.NET.Product>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reservatie</title>
</head>
<body>
  
    <table class="table">
        <tr>
            <th></th>
        </tr>
    
  
    
    </table>
</body>
</html>
