@using Groep9.NET.Models.Domein
@model Groep9.NET.ViewModels.ProductenViewModel


@{
    ViewBag.Title = "Verlanglijst";

}

<h2>Verlanglijst</h2>

@using (Html.BeginForm("Index", "Verlanglijst"))
{
    <div class="row" id="sandbox-container">
        <div class="pull-left col-md-2 col-xs-12"><label> Kies een datum: </label></div>
        
        <div class="input-group date col-md-6 col-sm-6 col-xs-12">
            <!--<input type="text" class="form-control" id="datum">-->
            @Html.TextBox("datum", "", "", new { @class = "form-control", @placeholder = DateTime.Today.ToString().Substring(0,10) + ".."})
          
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <div class="col-sm-6 col-xs-12 col-md-3 pull-right"><input type="submit" value="Toon beschikbare producten" class="btn btn-default col-xs-12  groen "/></div>
    </div>
}
<br />
<br >
<div class="row">
    <div class="col-xs-12">
       @if (User.IsInRole("studenten"))
       {
        @Html.Partial("Producten", Model.Producten)
       }
       else
       {
           @Html.Partial("ProductenBlokkade", Model.Producten)
       }
    </div>
</div>






