@using Groep9.NET.Models.Domein
@model Groep9.NET.ViewModels.ProductenViewModel
<script>
  $(function() {
      $('.input-group.date').datepicker({
      });
  });
</script>
<h2>Verlanglijst</h2> 
@using (Html.BeginForm("Index", "Verlanglijst"))
{
    <div class="col-md-12">
        <div class="pull-left col-md-2"><label> Kies een datum: </label></div>
        
        <div class="input-group date col-md-6" data-provide="datepicker">
            <!--<input type="text" class="form-control" id="datum">-->
            @Html.TextBox("datum", "", "", new { @class = "form-control", @placeholder = "kies datum.." })
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <input type="submit" value="Toon beschikbare producten" class="btn btn-default col-md-3  groen pull-right"/>
    </div>
}
<br />
<br >
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("Producten", Model.Producten)
    </div>
</div>






